@model IEnumerable<BangazonWorkforce.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Computers</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary text-dark btn-sm">Create New</a>
</p>

    <form asp-controller="Computers" asp-action="Index">
        <p>
            Search by Make: <input type="text" name="makeSearchString" class="form-control form-inline w-25">
            Search by Model: <input type="text" name="modelSearchString" class="form-control form-inline w-25">
        </p>
        <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
        <input type="button" value="Reset" onclick="location.href='/Computers'" class="btn btn-secondary text-dark btn-sm"/>
    </form>
        <br />

<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Make & Model
            </th>
            <th>
                Assigned Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink(item.Make + " " + item.Model, "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
