@model IEnumerable<BangazonWorkforce.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Computers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Computers" asp-action="Index">
    <p>
        Search by Make: <input type="text" name="makeSearchString">
    </p>
    <p>
        Search by Model: <input type="text" name="modelSearchString">
    </p>
    <input type="submit" value="Search" />
</form>

<form action="/Computers">
    <input type="submit" value="Reset Search" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Make & Model
            </th>
            <th>
                Assigned Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink(item.Make + " " + item.Model, "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
